.venv
.git
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.log
.env
.eggs
*.egg-info
dist
build
tests
.pytest_cache
.coverage
htmlcov
*.igc
location.txt
*.csv
*.key
*.id
serverdata.txt
Dockerfile
.dockerignore
README.md
restart.sh
